In [3]:
import requests
import pandas as pd
import time

In [4]:
def get_fred_data(sname,scode):
    res = requests.get('https://api.stlouisfed.org/fred/series/observations?series_id='+scode+'&realtime_start=1776-07-04&realtime_end=9999-12-31&api_key=103fe6a05fac1e7a52e99ebdba5257e6&file_type=json')
    df = res.json()
    df = pd.DataFrame(df)
    df.to_csv('Documents/'+sname+'.csv')
    time.sleep(20)

In [9]:
import os

In [12]:
os.getcwd()

'/home/samar/JPL-Jan-21'

In [14]:
os.chdir('/home/samar/')

In [15]:
os.getcwd()

'/home/samar'

In [16]:
name_df = pd.read_csv('HOMERRR/monthly_fred.csv')

In [18]:
name_df.head()

                 name frequency           measure  series_code
0  unemployement_rate         m  percentage_value          NaN
1      fed_funds_rate         m  percentage_value          NaN
2       10y_2y_spread         m  percentage_value          NaN
3            us10y_cm         m  percentage_value          NaN
4     moody_baa_yield         m  percentage_value          NaN

In [19]:
name_df = pd.read_csv('HOMERRR/monthly_fred.csv')
name_df.head()

                name;frequency;measure;series_code
0  unemployement_rate;m;percentage_value;UNRATENSA
1       fed_funds_rate;m;percentage_value;FEDFUNDS
2         10y_2y_spread;m;percentage_value;T10Y2YM
3                 us10y_cm;m;percentage_value;GS10
4           moody_baa_yield;m;percentage_value;BAA

In [20]:

name_df = pd.read_csv('HOMERRR/monthly_fred.csv')
name_df.head()

                name;frequency;measure;series_code
0  unemployement_rate;m;percentage_value;UNRATENSA
1       fed_funds_rate;m;percentage_value;FEDFUNDS
2         10y_2y_spread;m;percentage_value;T10Y2YM
3                 us10y_cm;m;percentage_value;GS10
4           moody_baa_yield;m;percentage_value;BAA

In [21]:
name_df = pd.read_csv('HOMERRR/monthly_fred.csv')
name_df.head()

                name;frequency;measure;series_code
0  unemployement_rate;m;percentage_value;UNRATENSA
1       fed_funds_rate;m;percentage_value;FEDFUNDS
2         10y_2y_spread;m;percentage_value;T10Y2YM
3                 us10y_cm;m;percentage_value;GS10
4           moody_baa_yield;m;percentage_value;BAA

In [23]:
name_df = pd.read_csv('HOMERRR/monthly_fred2.csv')
name_df.head()

                name;frequency;measure;series_code
0  unemployement_rate;m;percentage_value;UNRATENSA
1       fed_funds_rate;m;percentage_value;FEDFUNDS
2         10y_2y_spread;m;percentage_value;T10Y2YM
3                 us10y_cm;m;percentage_value;GS10
4           moody_baa_yield;m;percentage_value;BAA

In [25]:
name_df = pd.read_csv('HOMERRR/mnthly_fred.csv')
name_df.head()

                 name frequency           measure series_code
0  unemployement_rate         m  percentage_value   UNRATENSA
1      fed_funds_rate         m  percentage_value    FEDFUNDS
2       10y_2y_spread         m  percentage_value     T10Y2YM
3            us10y_cm         m  percentage_value        GS10
4     moody_baa_yield         m  percentage_value         BAA

In [27]:
for index,row in name_df.iterrows():
    print(row['name'], row['series_code'])

unemployement_rate UNRATENSA
fed_funds_rate FEDFUNDS
10y_2y_spread T10Y2YM
us10y_cm GS10
moody_baa_yield BAA
m3_tbill TB3MS
y5_inflation_rate_exp T5YIFRM
moody_aaa_yield AAA
labour_force_participation_rate CIVPART
prsnl_saving_rate PSAVERT
supply_houses MSACSRNSA
personal_consumption_expenditure PCE
wti MCOILWITCO
monetary_base BOGMBASE
nonfarm_employees PAYNSA
vehicle_sales TOTALNSA
bop_trade_deficit BOPGSTB
retail_sales RSXFS
cpi_urban CPIAUCNS
sp_case_shiller_home_price_index CSUSHPINSA
um_consumer_sentiment UMCSENT
ppi_commodity PPIACO
iip IPB50001N

In [28]:
def get_fred_data(scode,sname):
    res = requests.get('https://api.stlouisfed.org/fred/series/observations?series_id='+scode+'&realtime_start=1776-07-04&realtime_end=9999-12-31&api_key=103fe6a05fac1e7a52e99ebdba5257e6&file_type=json')
    df = res.json()
    df = df['observations']
    df = pd.DataFrame(df)
    df.to_csv('HOMERRR/'+sname+'.csv')
    time.sleep(20)
for index,row in name_df.iterrows():
    get_fred_data(row['series_code'],row['name'])
    print(row['name'] + 'data wirt')

unemployement_ratedata wirt
fed_funds_ratedata wirt
10y_2y_spreaddata wirt
us10y_cmdata wirt
moody_baa_yielddata wirt
m3_tbilldata wirt
y5_inflation_rate_expdata wirt
moody_aaa_yielddata wirt
labour_force_participation_ratedata wirt
prsnl_saving_ratedata wirt
supply_housesdata wirt
personal_consumption_expendituredata wirt

ValueError: If using all scalar values, you must pass an index

In [32]:
res = requests.get('https://api.stlouisfed.org/fred/series/observations?series_id=MCOILWTICO&realtime_start=1776-07-04&realtime_end=9999-12-31&api_key=103fe6a05fac1e7a52e99ebdba5257e6&file_type=json')

In [34]:
r = res.json()
c= r['observations']

In [35]:
c = pd.DataFrame(c)

In [36]:
c

    realtime_start realtime_end        date  value
0       2011-04-06   9999-12-31  1986-01-01  22.93
1       2011-04-06   2011-11-08  1986-02-01  15.45
2       2011-11-09   9999-12-31  1986-02-01  15.46
3       2011-04-06   9999-12-31  1986-03-01  12.61
4       2011-04-06   9999-12-31  1986-04-01  12.84
..             ...          ...         ...    ...
444     2021-01-06   9999-12-31  2020-12-01  47.02
445     2021-02-03   9999-12-31  2021-01-01   52.0
446     2021-03-03   9999-12-31  2021-02-01  59.04
447     2021-04-07   9999-12-31  2021-03-01  62.33
448     2021-05-05   9999-12-31  2021-04-01  61.72

[449 rows x 4 columns]

In [38]:
name_df = pd.read_csv('HOMERRR/monthly_fred.csv')
name_df.head()

                 name frequency           measure series_code
0  unemployement_rate         m  percentage_value   UNRATENSA
1      fed_funds_rate         m  percentage_value    FEDFUNDS
2       10y_2y_spread         m  percentage_value     T10Y2YM
3            us10y_cm         m  percentage_value        GS10
4     moody_baa_yield         m  percentage_value         BAA

In [39]:
def get_fred_data(scode,sname):
    res = requests.get('https://api.stlouisfed.org/fred/series/observations?series_id='+scode+'&realtime_start=1776-07-04&realtime_end=9999-12-31&api_key=103fe6a05fac1e7a52e99ebdba5257e6&file_type=json')
    df = res.json()
    df = df['observations']
    df = pd.DataFrame(df)
    df.to_csv('HOMERRR/'+sname+'.csv')
    time.sleep(20)
for index,row in name_df.iterrows():
    get_fred_data(row['series_code'],row['name'])
    print(row['name'] + 'data wirt')

unemployement_ratedata wirt
fed_funds_ratedata wirt
10y_2y_spreaddata wirt
us10y_cmdata wirt
moody_baa_yielddata wirt
m3_tbilldata wirt
y5_inflation_rate_expdata wirt
moody_aaa_yielddata wirt
labour_force_participation_ratedata wirt
prsnl_saving_ratedata wirt
supply_housesdata wirt
personal_consumption_expendituredata wirt
wtidata wirt
monetary_basedata wirt
nonfarm_employeesdata wirt
vehicle_salesdata wirt
bop_trade_deficitdata wirt
retail_salesdata wirt
cpi_urbandata wirt
sp_case_shiller_home_price_indexdata wirt
um_consumer_sentimentdata wirt
ppi_commoditydata wirt
iipdata wirt

In [2]:
import requests
res = requests.get('https://api.stlouisfed.org/fred/series/observations?series_id=USD3MTD156N&realtime_start=1776-07-04&realtime_end=9999-12-31&api_key=103fe6a05fac1e7a52e99ebdba5257e6&file_type=json')

In [3]:
df = res.json()

In [5]:
df['error_code']

404