In [1]:
import fred

In [2]:
fred.key('103fe6a05fac1e7a52e99ebdba5257e6')

In [4]:
fred.categories(24)

{'categories': [{'id': 24, 'name': 'Monetary Data', 'parent_id': 32991}]}

In [5]:
fred.series('UNRATENSA')

{'realtime_start': '2021-05-10',
 'realtime_end': '2021-05-10',
 'seriess': [{'id': 'UNRATENSA',
   'realtime_start': '2021-05-10',
   'realtime_end': '2021-05-10',
   'title': 'Unemployment Rate',
   'observation_start': '1948-01-01',
   'observation_end': '2021-04-01',
   'frequency': 'Monthly',
   'frequency_short': 'M',
   'units': 'Percent',
   'units_short': '%',
   'seasonal_adjustment': 'Not Seasonally Adjusted',
   'seasonal_adjustment_short': 'NSA',
   'last_updated': '2021-05-07 07:43:58-05',
   'popularity': 63,
   'notes': "The unemployment rate represents the number of unemployed as a percentage of the labor force. Labor force data are restricted to people 16 years of age and older, who currently reside in 1 of the 50 states or the District of Columbia, who do not reside in institutions (e.g., penal and mental facilities, homes for the aged), and who are not on active duty in the Armed Forces.\n\nThis rate is also defined as the U-3 measure of labor underutilization.\n\nThe series comes from the 'Current Population Survey (Household Survey)'\n\nThe source code is: LNU04000000"}]}

In [6]:
import pandas as pd

In [7]:
df = fred.observations('UNRATENSA')

In [9]:
df = pd.DataFrame(df)
df.head()

,realtime_start,realtime_end,observation_start,observation_end,units,output_type,file_type,order_by,sort_order,count,offset,limit,observations
0,2021-05-10,2021-05-10,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,880,0,100000,"{'realtime_start': '2021-05-10', 'realtime_end..."
1,2021-05-10,2021-05-10,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,880,0,100000,"{'realtime_start': '2021-05-10', 'realtime_end..."
2,2021-05-10,2021-05-10,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,880,0,100000,"{'realtime_start': '2021-05-10', 'realtime_end..."
3,2021-05-10,2021-05-10,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,880,0,100000,"{'realtime_start': '2021-05-10', 'realtime_end..."
4,2021-05-10,2021-05-10,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,880,0,100000,"{'realtime_start': '2021-05-10', 'realtime_end..."

In [10]:
df.tail()

,realtime_start,realtime_end,observation_start,observation_end,units,output_type,file_type,order_by,sort_order,count,offset,limit,observations
875,2021-05-10,2021-05-10,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,880,0,100000,"{'realtime_start': '2021-05-10', 'realtime_end..."
876,2021-05-10,2021-05-10,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,880,0,100000,"{'realtime_start': '2021-05-10', 'realtime_end..."
877,2021-05-10,2021-05-10,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,880,0,100000,"{'realtime_start': '2021-05-10', 'realtime_end..."
878,2021-05-10,2021-05-10,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,880,0,100000,"{'realtime_start': '2021-05-10', 'realtime_end..."
879,2021-05-10,2021-05-10,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,880,0,100000,"{'realtime_start': '2021-05-10', 'realtime_end..."