In [1]:
import pandas as pd
import datetime as dt

In [2]:
df = pd.read_csv('prices_stocksLT10yr.csv')
type(df['date'])

pandas.core.series.Series

In [3]:
df['date'] = pd.to_datetime(df['date'])

In [4]:
type(df['date'])

pandas.core.series.Series

In [5]:
dfd = df['date']
type(dfd[0])

pandas._libs.tslibs.timestamps.Timestamp

In [6]:
start_date = "2019-1-1"
end_date = "2020-1-31"

after_start_date = df["date"] >= start_date
before_end_date = df["date"] <= end_date
between_two_dates = after_start_date & before_end_date
filtered_dates = df.loc[between_two_dates]

In [7]:
filtered_dates

,symbol,date,open,low,volume,high,close,adjclose,dividends,splits
1887,LT.NS,2019-01-01,1445.000000,1425.199951,786846.0,1445.000000,1441.900024,1365.243896,0.0,0.0
1888,LT.NS,2019-01-02,1441.000000,1417.099976,2058504.0,1444.900024,1425.500000,1349.715820,0.0,0.0
1889,LT.NS,2019-01-03,1426.000000,1391.000000,2290756.0,1429.000000,1395.000000,1320.837158,0.0,0.0
1890,LT.NS,2019-01-04,1401.900024,1373.550049,2711485.0,1407.599976,1388.050049,1314.256836,0.0,0.0
1891,LT.NS,2019-01-07,1397.000000,1379.050049,1851513.0,1408.599976,1383.800049,1310.232788,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
2147,LT.NS,2020-01-27,1340.000000,1340.000000,2510013.0,1364.900024,1348.599976,1293.421509,0.0,0.0
2148,LT.NS,2020-01-28,1350.900024,1338.000000,2352852.0,1355.000000,1346.650024,1291.551514,0.0,0.0
2149,LT.NS,2020-01-29,1353.099976,1352.099976,3678474.0,1374.949951,1365.699951,1309.822021,0.0,0.0
2150,LT.NS,2020-01-30,1365.949951,1353.000000,2743506.0,1376.800049,1370.199951,1314.137817,0.0,0.0
2151,LT.NS,2020-01-31,1375.949951,1360.449951,3939306.0,1377.000000,1369.300049,1313.274658,0.0,0.0

In [ ]:
start_date = "2019-1-1"
end_date = "2020-1-31"

after_start_date = df["date"] >= start_date
before_end_date = df["date"] <= end_date
between_two_dates = after_start_date & before_end_date
filtered_dates = df.loc[between_two_dates]