In [51]:
import pandas as pd
import os

In [52]:
df = pd.read_csv(f'Cleaned/NSE/BS/TCS_BS.csv', index_col=0)
df.head()

,EQUITIES AND LIABILITIES,SHAREHOLDER'S FUNDS,Equity Share Capital,Total Share Capital,Reserves and Surplus,Total Reserves and Surplus,Total Shareholders Funds,NON-CURRENT LIABILITIES,Long Term Borrowings,Deferred Tax Liabilities [Net],...,FOB Value Of Goods,Other Earnings,BONUS DETAILS,Bonus Equity Share Capital,NON-CURRENT INVESTMENTS,Non-Current Investments Quoted Market Value,Non-Current Investments Unquoted Book Value,CURRENT INVESTMENTS,Current Investments Quoted Market Value,Current Investments Unquoted Book Value
Balance Sheet of Tata Consultancy Services (in Rs. Cr.),,,,,,,,,,,,,,,,,,,,,
Mar 21,0.0,0.0,370.0,370.0,74424.0,74424.0,74794.0,0.0,0.0,365.0,...,0,0.0,0.0,0.00,0.0,0,0.0,0.0,0.0,0.0
Mar 20,0.0,0.0,375.0,375.0,73993.0,73993.0,74368.0,0.0,0.0,347.0,...,0,128501.0,0.0,342.58,0.0,0,2189.0,0.0,25686.0,2189.0
Mar 19,0.0,0.0,375.0,375.0,78523.0,78523.0,78898.0,0.0,0.0,339.0,...,0,119499.0,0.0,342.58,0.0,0,2189.0,0.0,28218.0,2252.0
Mar 18,0.0,0.0,191.0,191.0,75675.0,75675.0,75866.0,0.0,39.0,424.0,...,0,92258.0,0.0,151.15,0.0,0,2186.0,0.0,25972.0,9101.0
Mar 17,0.0,0.0,197.0,197.0,77825.0,77825.0,78022.0,0.0,44.0,314.0,...,0,86370.0,0.0,155.90,0.0,0,2201.0,0.0,21999.0,18730.0

In [53]:
for d in df.columns:
    print(d)

EQUITIES AND LIABILITIES
SHAREHOLDER'S FUNDS
Equity Share Capital
Total Share Capital
Reserves and Surplus
Total Reserves and Surplus
Total Shareholders Funds
NON-CURRENT LIABILITIES
Long Term Borrowings
Deferred Tax Liabilities [Net]
Other Long Term Liabilities
Long Term Provisions
Total Non-Current Liabilities
CURRENT LIABILITIES
Short Term Borrowings
Trade Payables
Other Current Liabilities
Short Term Provisions
Total Current Liabilities
Total Capital And Liabilities
ASSETS
NON-CURRENT ASSETS
Tangible Assets
Intangible Assets
Capital Work-In-Progress
Other Assets
Fixed Assets
Non-Current Investments
Deferred Tax Assets [Net]
Long Term Loans And Advances
Other Non-Current Assets
Total Non-Current Assets
CURRENT ASSETS
Current Investments
Inventories
Trade Receivables
Cash And Cash Equivalents
Short Term Loans And Advances
OtherCurrentAssets
Total Current Assets
Total Assets
OTHER ADDITIONAL INFORMATION
CONTINGENT LIABILITIES, COMMITMENTS
Contingent Liabilities
CIF VALUE OF IMPORTS
Raw Materials
Stores, Spares And Loose Tools
Trade/Other Goods
Capital Goods
EXPENDITURE IN FOREIGN EXCHANGE
Expenditure In Foreign Currency
REMITTANCES IN FOREIGN CURRENCIES FOR DIVIDENDS
Dividend Remittance In Foreign Currency
EARNINGS IN FOREIGN EXCHANGE
FOB Value Of Goods
Other Earnings
BONUS DETAILS
Bonus Equity Share Capital
NON-CURRENT INVESTMENTS
Non-Current Investments Quoted Market Value
Non-Current Investments Unquoted Book Value
CURRENT INVESTMENTS
Current Investments Quoted Market Value
Current Investments Unquoted Book Value

In [54]:
df.head()

,EQUITIES AND LIABILITIES,SHAREHOLDER'S FUNDS,Equity Share Capital,Total Share Capital,Reserves and Surplus,Total Reserves and Surplus,Total Shareholders Funds,NON-CURRENT LIABILITIES,Long Term Borrowings,Deferred Tax Liabilities [Net],...,FOB Value Of Goods,Other Earnings,BONUS DETAILS,Bonus Equity Share Capital,NON-CURRENT INVESTMENTS,Non-Current Investments Quoted Market Value,Non-Current Investments Unquoted Book Value,CURRENT INVESTMENTS,Current Investments Quoted Market Value,Current Investments Unquoted Book Value
Balance Sheet of Tata Consultancy Services (in Rs. Cr.),,,,,,,,,,,,,,,,,,,,,
Mar 21,0.0,0.0,370.0,370.0,74424.0,74424.0,74794.0,0.0,0.0,365.0,...,0,0.0,0.0,0.00,0.0,0,0.0,0.0,0.0,0.0
Mar 20,0.0,0.0,375.0,375.0,73993.0,73993.0,74368.0,0.0,0.0,347.0,...,0,128501.0,0.0,342.58,0.0,0,2189.0,0.0,25686.0,2189.0
Mar 19,0.0,0.0,375.0,375.0,78523.0,78523.0,78898.0,0.0,0.0,339.0,...,0,119499.0,0.0,342.58,0.0,0,2189.0,0.0,28218.0,2252.0
Mar 18,0.0,0.0,191.0,191.0,75675.0,75675.0,75866.0,0.0,39.0,424.0,...,0,92258.0,0.0,151.15,0.0,0,2186.0,0.0,25972.0,9101.0
Mar 17,0.0,0.0,197.0,197.0,77825.0,77825.0,78022.0,0.0,44.0,314.0,...,0,86370.0,0.0,155.90,0.0,0,2201.0,0.0,21999.0,18730.0

In [55]:
cd = df.filter(regex=("Balance Sheet"))

# drop_cols = []
# for d in df.columns:
#     if df[d].name.isupper() and len(df[d].name) > 8:
#         drop_cols.append(d)
#     else:
#         pass

    #script to filter out bad columns
cd

Empty DataFrame
Columns: []
Index: [Mar 21, Mar 20, Mar 19, Mar 18, Mar 17]

In [56]:
# cd.drop('0', axis=1, inplace=True)
# cd

In [67]:
cagr = {}
for i,d in enumerate(df.columns):
    if df[d].name.isupper() and len(df[d].name) > 8:
        pass
    else:
        
        if float(df.at['Mar 21',d]) != 0 and float(df.at['Mar 17',d]) != 0:
            cagr[f'cagr_{d[:8]}'] = (float(df.at['Mar 21',d]) / float(df.at['Mar 17',d]) ) - 1
            
        else:
            print('one of values is 0')

one of values is 0
one of values is 0
one of values is 0
one of values is 0
one of values is 0
one of values is 0
one of values is 0
one of values is 0
one of values is 0
one of values is 0
one of values is 0
one of values is 0
one of values is 0
one of values is 0
one of values is 0
one of values is 0
one of values is 0
one of values is 0
one of values is 0
one of values is 0
one of values is 0

In [68]:
cagr

{'cagr_Equity S': 0.8781725888324874,
 'cagr_Total Sh': -0.04137294609212783,
 'cagr_Reserves': -0.04370061034371986,
 'cagr_Total Re': -0.04370061034371986,
 'cagr_Deferred': 0.29137719656722516,
 'cagr_Other Lo': 7.929467084639498,
 'cagr_Total No': 0.23010883843122532,
 'cagr_Trade Pa': 0.9002386634844868,
 'cagr_Other Cu': 2.076541232986389,
 'cagr_Short Te': 2.877958579881657,
 'cagr_Total Cu': 0.2150433944069432,
 'cagr_Total Ca': 0.21862118139887254,
 'cagr_Tangible': 0.8363360104189277,
 'cagr_Fixed As': 0.5801270078446021,
 'cagr_Non-Curr': 0.09268514311676501,
 'cagr_Long Ter': -0.6666666666666667,
 'cagr_Other No': -0.37285858246556935,
 'cagr_Current ': -0.3045741363647524,
 'cagr_Inventor': -0.6666666666666667,
 'cagr_Trade Re': 0.5210469183451936,
 'cagr_Cash And': 1.3875379939209727,
 'cagr_OtherCur': 1.253737658674189,
 'cagr_Total As': 0.21862118139887254}

In [80]:
cagr.keys()
cagr.values()

dict_values([0.8781725888324874, -0.04137294609212783, -0.04370061034371986, -0.04370061034371986, 0.29137719656722516, 7.929467084639498, 0.23010883843122532, 0.9002386634844868, 2.076541232986389, 2.877958579881657, 0.2150433944069432, 0.21862118139887254, 0.8363360104189277, 0.5801270078446021, 0.09268514311676501, -0.6666666666666667, -0.37285858246556935, -0.3045741363647524, -0.6666666666666667, 0.5210469183451936, 1.3875379939209727, 1.253737658674189, 0.21862118139887254])

In [81]:
cagrdf = pd.DataFrame(data=[cagr.values()] ,columns=cagr.keys())

In [82]:
cagrdf

,cagr_Equity S,cagr_Total Sh,cagr_Reserves,cagr_Total Re,cagr_Deferred,cagr_Other Lo,cagr_Total No,cagr_Trade Pa,cagr_Other Cu,cagr_Short Te,...,cagr_Fixed As,cagr_Non-Curr,cagr_Long Ter,cagr_Other No,cagr_Current,cagr_Inventor,cagr_Trade Re,cagr_Cash And,cagr_OtherCur,cagr_Total As
0,0.878173,-0.041373,-0.043701,-0.043701,0.291377,7.929467,0.230109,0.900239,2.076541,2.877959,...,0.580127,0.092685,-0.666667,-0.372859,-0.304574,-0.666667,0.521047,1.387538,1.253738,0.218621

In [90]:
cagr = {}
for d in df.columns:
    if df[d].name.isupper() and len(df[d].name) > 8:
        pass
    else:
        series = df[d]
        fi = series[0]
        li = series[-1]
        cagr[f'cagr_{d[:8]}'] = (fi/li)**(1/len(series)) -1

# cagrdf.to_csv(f'Cleaned/NSE/CAGR/{co}_cagr.csv')

<ipython-input-90-41248ff767c9>:9: RuntimeWarning: invalid value encountered in double_scalars
  cagr[f'cagr_{d[:8]}'] = (fi/li)**(1/len(series)) -1
<ipython-input-90-41248ff767c9>:9: RuntimeWarning: invalid value encountered in long_scalars
  cagr[f'cagr_{d[:8]}'] = (fi/li)**(1/len(series)) -1

In [91]:
cagr

{'cagr_Equity S': 0.13435006320521659,
 'cagr_Total Sh': -0.008415027829598798,
 'cagr_Reserves': -0.008897034230706202,
 'cagr_Total Re': -0.008897034230706202,
 'cagr_Long Ter': -0.1972584382397693,
 'cagr_Deferred': 0.05247217442888097,
 'cagr_Other Lo': 0.5494055530773012,
 'cagr_Total No': 0.042290328164481306,
 'cagr_Short Te': 0.3113560771584285,
 'cagr_Trade Pa': 0.1370030509848874,
 'cagr_Other Cu': 0.25202369464534824,
 'cagr_Total Cu': 0.03972469144375501,
 'cagr_Total Ca': 0.040336281086046366,
 'cagr_ASSETS': nan,
 'cagr_Tangible': 0.12925086046657475,
 'cagr_Intangib': -1.0,
 'cagr_Capital ': nan,
 'cagr_Other As': nan,
 'cagr_Fixed As': 0.09581792259312061,
 'cagr_Non-Curr': -1.0,
 'cagr_Other No': -0.08909497752351925,
 'cagr_Current ': -1.0,
 'cagr_Inventor': -0.1972584382397693,
 'cagr_Trade Re': 0.08749813818770535,
 'cagr_Cash And': 0.19011809463194096,
 'cagr_OtherCur': 0.17646949932387823,
 'cagr_Total As': 0.040336281086046366,
 'cagr_Continge': -1.0,
 'cagr_Raw Mate': nan,
 'cagr_Stores, ': -1.0,
 'cagr_Trade/Ot': -1.0,
 'cagr_Expendit': -1.0,
 'cagr_Dividend': nan,
 'cagr_FOB Valu': nan,
 'cagr_Other Ea': -1.0,
 'cagr_Bonus Eq': -1.0}