In [15]:
import pandas as pd

In [16]:
df = pd.read_csv('NSE/Brokers/HDFCLIFE_brokers.csv')

In [17]:
df

   Unnamed: 0          date        recm          rec_price        trgt_price
0           0  25 Jan, 2021  ACCUMULATE  Reco Price 680.40  Target Price 764
1           1  24 Jan, 2021         BUY  Reco Price 687.65  Target Price 820
2           2  22 Jan, 2021         BUY  Reco Price 687.65  Target Price 850
3           3  14 Jan, 2021         BUY  Reco Price 706.90  Target Price 850
4           4  07 Jan, 2021         BUY  Reco Price 704.35  Target Price 820

In [18]:
recm_dict = ['BUY', 'ACCUMULATE','HOLD','SELL']
df['rec_price']=df['rec_price'].str.replace('Reco Price','')
df['trgt_price']=df['trgt_price'].str.replace('Target Price','')

In [19]:
df['rec_price']=df['rec_price'].astype(float)
df['trgt_price']=df['trgt_price'].astype(float)

In [22]:
df['rate'] =df['trgt_price']/ df['rec_price'] -1

In [23]:
df['rate']

0    0.122869
1    0.192467
2    0.236094
3    0.202433
4    0.164194
Name: rate, dtype: float64