In [27]:
import os
import pandas as pd

In [28]:
df = pd.read_csv('Sample_calcdf.csv')

In [29]:
df

,Balance Sheet of Tata Consultancy Services (in Rs. Cr.),EQUITIES AND LIABILITIES,SHAREHOLDER'S FUNDS,Equity Share Capital,Total Share Capital,Reserves and Surplus,Total Reserves and Surplus,Total Shareholders Funds,NON-CURRENT LIABILITIES,Long Term Borrowings,...,C_Assets,EBITDA_Mgn,EBIT_Mgn,PBT_Mgn,NPM,OPR_Rev,RONW,ROA,ITR,cred_sales_ratio
0,Mar 21,0.0,0.0,370.0,370.0,74424.0,74424.0,74794.0,0.0,0.0,...,0.760278,0.323352,0.301755,0.297956,0.219011,0.961800,0.413937,0.283047,20194.714286,5.604750
1,Mar 20,0.0,0.0,375.0,375.0,73993.0,73993.0,74368.0,0.0,0.0,...,0.754408,0.325961,0.306583,0.301253,0.238615,0.942018,0.447235,0.316837,27877.600000,4.863503
2,Mar 19,0.0,0.0,375.0,375.0,78523.0,78523.0,78898.0,0.0,0.0,...,0.794291,0.325627,0.312507,0.311207,0.229860,0.941688,0.381062,0.302161,13079.700000,5.443298
3,Mar 18,0.0,0.0,191.0,191.0,75675.0,75675.0,75866.0,0.0,39.0,...,0.749231,0.325788,0.309823,0.309532,0.244681,0.943747,0.332705,0.277203,4126.360000,5.463351
4,Mar 17,0.0,0.0,197.0,197.0,77825.0,77825.0,78022.0,0.0,44.0,...,0.762517,0.325485,0.309291,0.309127,0.243191,0.953034,0.303158,0.263520,4631.476190,5.865457

In [55]:
df.drop('IAssets_gth',1, inplace=True)
for i in range(len(df)-1):
    if i == 4:
        df.loc[i,'IAssets_gth'] = 0.0
    else:    
        df.loc[i,'IAssets_gth'] = df.loc[i,'Intangible Assets'] / df.loc[i+1,'Intangible Assets']
    

df['IAssets_gth']

0     0.000000
1    45.230216
2    13.900000
3     0.588235
4          NaN
Name: IAssets_gth, dtype: float64

In [58]:
cols = ['Total Reserves and Surplus','Tangible Assets','Intangible Assets','Total Assets','Total Operating Revenues','Long Term Borrowings',
        'Short Term Borrowings', 'Profit/Loss For The Period','Total Revenue']
for i in range(len(df)-1):
    for c in cols:
        if i == 4:
            df.loc[i,c] = 0.0
        else:
            df.loc[i,f'{c}_gth'] = df.loc[i,c] / df.loc[i+1,c]

# df.loc[i,'Reserves_gth'] = (df.loc[i,'Total Reserves and Surplus'], df.loc[i+1,'Total Reserves and Surplus'])
# df['TAssets_gth'] = (df.loc[i,'Tangible Assets'] / df.loc[i+1,'Tangible Assets'])
#     df['IAssets_gth'] = df.loc[i,'Intangible Assets'] / df.loc[i+1,'Intangible Assets']
#     df['total_assets_gth'] = df.loc[i,'Total Assets'] / df.loc[i+1,'Total Assets']
#     df['Op_revenue_gth'] = df.loc[i,'Total Operating Revenues'] / df.loc[i+1,'Total Operating Revenues']

<ipython-input-58-18b3377a891f>:8: RuntimeWarning: invalid value encountered in double_scalars
  df.loc[i,f'{c}_gth'] = df.loc[i,c] / df.loc[i+1,c]

In [59]:
df['Tangible Assets_gth']

0    1.720386
1    1.032871
2    1.009756
3    1.023443
4         NaN
Name: Tangible Assets_gth, dtype: float64